{% extends "base.html" %}
{% block title %}Big Deal - Home{% endblock %}
{% block content %}
<div id="mds" style="display:grid;grid-template-columns:repeat(auto-fit,280px);text-align:center;grid-gap:25px;padding:15px;margin:0">
        <div data-id="m1" class="msf" style="background-color:grey">
          <img src="" class="msf-img" style="height:256px; width:256px; top:10px">
          <h2 class="msf-name">Extravagant Slumber</h2>
          <h3 class="msf-p">$37.00</h3>
          <div class="ar">
            <button type="button" name="add" id="add1">+</button>
            <input type="text" name="qty" value="0" id="msfq1" disabled="" style="width:50px;text-align:center">
            <button type="button" name="add" id="remove1">-</button>
          </div>
        </div>
        <div data-id="m2" class="msf" style="background-color:grey">
          <img src="" class="msf-img" style="height:256px; width:256px; top:10px">
          <h2 class="msf-name">Lighter-Than-Air Pancake</h2>
          <h3 class="msf-p">$18.50</h3>
          <div class="ar">
            <button type="button" name="add" id="add2">+</button>
            <input type="text" name="qty" value="0" id="msfq2" disabled="" style="width:50px;text-align:center">
            <button type="button" name="add" id="remove2">-</button>
          </div>
        </div>
        <div data-id="m3" class="msf" style="background-color:grey">
          <img src="" class="msf-img" style="height:256px; width:256px; top:10px">
          <h2 class="msf-name">Fruity Skewers</h2>
          <h3 class="msf-p">$3.30</h3>
          <div class="ar">
            <button type="button" name="add" id="add3">+</button>
            <input type="text" name="qty" value="0" id="msfq3" disabled="" style="width:50px;text-align:center">
            <button type="button" name="add" id="remove3">-</button>
          </div>
        </div>
        <div data-id="m4" class="msf" style="background-color:grey">
          <img src="" class="msf-img" style="height:256px; width:256px; top:10px">
          <h2 class="msf-name">A Price Catch</h2>
          <h3 class="msf-p">$37.00</h3>
          <div class="ar">
            <button type="button" name="add" id="add4">+</button>
            <input type="text" name="qty" value="0" id="msfq4" disabled="" style="width:50px;text-align:center">
            <button type="button" name="add" id="remove4">-</button>
          </div>

        </div>
      </div>

{% endblock %}
